body {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608px auto;
    font-family: monospace;
    background-color: #1b1815;
    
    color:#a0978d;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
} 
 
#gameWindow {
    width: 800px;
    height: 608px;
    grid-column-start: 2; 
    grid-row-start: 2;
    position: relative;    
    color:#a0978d;
    border-style:solid ;
}

#inventoryBox {
    width: 140px;
    height: 80px;
    background-color: #3f3530;
    top: 10px;
    right: 10px;
    color: #a0978d;
    border-style: solid;
    border-color: #a0978d;
    opacity: 80%;
}

#dialogBar {
    bottom: 0px;
}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;
}

#heroAvatar {
    width: 72px;
    height: 68px;
    bottom: 0px;
    left: 0px;  
    z-index: 3;  
}

#heroSpeech {
    width: 300px;
    color: #2d2823;
    font-size: x-large;
    left: 72px;
    top: 7px;
    opacity: 0;
}

/* !!!ALL COUNTER STUFF */

#counterSpeech {
    width: 300px;
    color: #2d2823;
    font-size: x-large;
    right: 65px;
    top: 7px;
    border-radius: 10px;
    padding: 5px;
    background-color: #cac3bc;
    opacity: 0;
}

#counterAvatar {    
    width: 72px;
    height: 68px;
    bottom: 0;
    right: 0px;
    opacity: 0;
}

#lostDragonCounterAvatar{
    width: 72px;
    height: 68px;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    z-index: 0;
}

#brownBar{
    bottom: 0px;
    height: 35px;
    width: 799px;
    background-color: #3f3530;
    opacity: 80%; 
    border-top:#a0978d; 
    border-style: solid;
    z-index: 0;
}

/* !!!ALL TRIGGERS */
#redMushRoomTriggerOne {
    width: 14px;
    height: 17px;
    left: 417px;
    top: 31px;
    cursor: pointer;
}

#redMushRoomTriggerTwo{
    width: 13px;
    height: 15px;
    left: 769px;
    top: 192px;
    cursor: pointer;
}

#redMushRoomTriggerThree{
    width: 32px;
    height: 25px;
    left: 767px;
    top: 440px;
    cursor: pointer;
}

#redMushRoomTriggerFour {
    width: 14px;
    height: 17px;
    left: 580px;
    top: 543px;
    cursor: pointer;
}

#goldenDragonTrigger{
    width: 36px;
    height: 36px;
    left: 594px;
    top: 225px;
    cursor: pointer;
}

#lostDragonTrigger {
    width: 21px;
    height: 21px;
    left: 20px;
    top: 493px;
    z-index: 2;
    cursor: pointer;
}

#gardenBerryTriggerTop{
    width: 131px;
    height: 64px;
    left: 5px;
    top: 1px;
    cursor: pointer;
}

#gardenBerryTriggerBottom{
    width: 89px;
    height: 64px;
    left: 5px;
    top: 97px;
    cursor: pointer;
}

/* !!!VISUAL NON CLICKEBLE STUFF (IT'S JUST AN ILLUSION) */
#goldenDragon {
    width: 36px;
    height: 36px;
    left: 594px;
    top: 225px;
    z-index: 1;
}

#lostDragon{
    width: 32px;
    height: 32px;
    left: 23px;
    top: 493px;
    z-index: 1;
}

#hero {
    top: 57px;
    left: 440px;
    width: 32px;
    height: 32px;
    transition: all 1s ease-in-out;
    z-index: 2;
}

#roadSignTriggerTop{
    width: 38px;
    height: 19px;
    left: 209px;
    top: 271px;
    cursor: pointer; 
}

#roadSignTriggerBottom{
    width: 38px;
    height: 19px;
    left: 209px;
    top: 290px;
    cursor: pointer;
}

#tileMap {}

.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 100;
}

.foreground {
    position: absolute;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.speechBubble{
    border-radius: 10px;
    padding: 5px;
    background-color: #cac3bc;
    user-select: none;
    cursor: default;
}